* {
    box-sizing: border-box;
    margin: 0;
}
body {
    
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    outline: 1px solid red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#game-container {
    width: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
#instructions-info {
    display: flex;
    flex-direction: column;
    padding: 50px;
    outline: 1px solid red;
}
#instructions-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 1px solid red;
}
#instructions-text {
    padding-top: 50px;
    padding-bottom: 50px;
}
.btn {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 20px;
    border: 3px solid #000;
    border-radius: 5px;
    background-color: #1ace3e;
    box-shadow: 2px 5px 10px;
    cursor: pointer;
    margin-bottom: 25px;
}
.btn:hover {
    background-color: #63ff2f;
}
#game-info {
    display: flex;
    flex-direction: column;
    padding: 25px 50px;
    outline: 1px solid red;
    
}
#player-select {
    display: flex;
    outline: 1px solid red;
}
#player-select .turtles img{
    width: 50px;
    height: auto;
}
canvas {
    display: flex;
    background-color: grey;
    border: 20px solid blue;
}
/********************** CLASSES *****************************/

.canvas-background {
    
    background-image: url("../images/game-background.png");
    background-size: cover;
    background-position: center;
}

.hide-btn {
    display: none;
}


