* {
    box-sizing: border-box;
    margin: 0;
}
body {
    
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    outline: 1px solid red;
}
#start-game {
    width: auto;
    display: flex;
    justify-content: space-between;
}
#instructions-info {
    display: flex;
    flex-direction: column;
    padding: 50px;
    outline: 1px solid red;
}

canvas {
    border: 1px solid red;
    background-color: lightblue;
    
}
#game-info {
    display: flex;
    flex-direction: column;
    padding: 50px;
    outline: 1px solid red;

}
